<article class="col-md-3">
    <div class="well">
        <ul class="nav nav-list">
            <li> <i class="glyphicon glyphicon-user"></i><span class="nav-header">User</span></li>
            <li><a href="#/list">retour</a></li>
        </ul>
    </div> 
</article>
<article class="col-md-9" ng-init="get()">
    <form name="userForm" class="form-horizontal">
        <ng-include src="'components/user/_form.html'"></ng-include>
    </form>
    <div class="form-group">
        <div class="col-sm-5">
            <button class="btn btn-default" ng-click="create(user)" ng-disabled="userForm.$invalid">
                create
            </button>
        </div>
    </div>
</article>