<div class="col-md-8 col-md-offset-2" ng-init="updateList(1)">

    <table class="table">
        <thead>
        <tr>
            <th>Register number</th>
            <th>kilometers</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="vehicle in vehicles">
            <td>{{vehicle.registerNumber}}</td>
            <td>{{vehicle.kilometers}}</td>
        </tr>
        </tbody>
    </table>
    <pagination total-items="totalElements" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage"></pagination>
</div>