<article class="col-md-8 col-md-offset-2" ng-init="get()">

    <h2>{{ vehicle.registerNumber}}</h2>

    <table ng-init="updateFullTanks(1)">
        <thead>
            <tr>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="fullTank in fullTanks">
                <td>{{fullTank}}</td>
            </tr>
        </tbody>
    </table>
    <pagination total-items="fullTankTotalElements" ng-model="fullTankCurrentPage" ng-change="fullTankPageChanged()" items-per-page="fullTankItemsPerPage"></pagination>
    <nav>
        <a class="btn btn-default" href="#/ft/create" role="button">Create</a>
    </nav>

</article>