/* app css stylesheet */
header nav {
  background: -moz-linear-gradient(top, #ffffff 0%, #C8C8C8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#C8C8C8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#C8C8C8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#C8C8C8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#C8C8C8 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#C8C8C8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#C8C8C8',GradientType=0 ); /* IE6-9 */

}

header nav a:hover {
  background: none repeat scroll 0% 0% #555;
  text-decoration: none;
  font-weight: normal;
  color: #FFF;
  text-shadow: none;
  border-radius: 5px;
  line-height: 30px;
}

header nav a {
  padding: 0px 10px;
  margin: 0px;
  line-height: 30px;
  color: #626262;
  text-shadow: 0px 1px #FFF;
  text-decoration: none;
  font-size: 20px;
  font-weight: normal;
}

.ng-invalid {
  border-color: red;
  border-width: 2px;
}

.form-group .ng-invalid  {
   border-color: red;
   border-width: 2px;
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 0, 0, 0.6);
}

.form-control:focus .ng-invalid{
    border-color: red;
    border-width: 2px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 0, 0, 0.6);
}